<%= form_for(ride) do |f| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :request_time %>
    <%= f.datetime_select :request_time %>
  </div>

  <div class="field">
    <%= f.label :est_wait_time %>
    <%= f.number_field :est_wait_time %>
  </div>

  <div class="field">
    <%= f.label :pickup_time %>
    <%= f.datetime_select :pickup_time %>
  </div>

  <div class="field">
    <%= f.label :pickup_pax %>
    <%= f.number_field :pickup_pax %>
  </div>

  <div class="field">
    <%= f.label :pickup_address %>
    <%= f.text_field :pickup_address %>
  </div>

  <div class="field">
    <%= f.label :dropoff_address %>
    <%= f.text_field :dropoff_address %>
  </div>

  <div class="field">
    <%= f.label :est_trip_duration_at_pickup %>
    <%= f.number_field :est_trip_duration_at_pickup %>
  </div>

  <div class="field">
    <%= f.label :pickups_en_route %>
    <%= f.number_field :pickups_en_route %>
  </div>

  <div class="field">
    <%= f.label :dropoffs_en_route %>
    <%= f.number_field :dropoffs_en_route %>
  </div>

  <div class="field">
    <%= f.label :dropoff_time %>
    <%= f.datetime_select :dropoff_time %>
  </div>

  <div class="field">
    <%= f.label :cost_before_discounts %>
    <%= f.text_field :cost_before_discounts %>
  </div>

  <div class="field">
    <%= f.label :cost_after_discounts %>
    <%= f.text_field :cost_after_discounts %>
  </div>

  <div class="field">
    <%= f.label :actual_wait_time %>
    <%= f.text_field :actual_wait_time %>
  </div>

  <div class="field">
    <%= f.label :actual_trip_duration %>
    <%= f.text_field :actual_trip_duration %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
