<p id="notice"><%= notice %></p>

<h1>Rides</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Request time</th>
      <th>Est wait time</th>
      <th>Pickup time</th>
      <th>Pickup pax</th>
      <th>Pickup address</th>
      <th>Dropoff address</th>
      <th>Est trip duration at pickup</th>
      <th>Pickups en route</th>
      <th>Dropoffs en route</th>
      <th>Dropoff time</th>
      <th>Cost before discounts</th>
      <th>Cost after discounts</th>
      <th>Actual wait time</th>
      <th>Actual trip duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td><%= ride.type %></td>
        <td><%= ride.request_time %></td>
        <td><%= ride.est_wait_time %></td>
        <td><%= ride.pickup_time %></td>
        <td><%= ride.pickup_pax %></td>
        <td><%= ride.pickup_address %></td>
        <td><%= ride.dropoff_address %></td>
        <td><%= ride.est_trip_duration_at_pickup %></td>
        <td><%= ride.pickups_en_route %></td>
        <td><%= ride.dropoffs_en_route %></td>
        <td><%= ride.dropoff_time %></td>
        <td><%= ride.cost_before_discounts %></td>
        <td><%= ride.cost_after_discounts %></td>
        <td><%= ride.actual_wait_time %></td>
        <td><%= ride.actual_trip_duration %></td>
        <td><%= link_to 'Show', ride %></td>
        <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
        <td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ride', new_ride_path %>
